<div class="row">
    <div class="col-12">
        <footer style="color: darkgray; ">
            Streaming Website
        </footer>
        <br>
    </div>
    <div class="col-12">
        <footer style="color: darkgray;">
            streaming-website
        </footer>
        <br>
    </div>
</div>