<nav class="navbar navbar-expand-lg" style="background: #121212;">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" alt="" width="80px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      Menu
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gifs">GIFs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stories">Stories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/myaccount">My account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categories">Categories</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" method="get" action="/">
        <div class="cntr">
          <div class="cntr-innr">
            <label class="search" for="inpt_search">
              <input name="search" id="inpt_search" type="search" aria-label="Search">
            </label>
          </div>
        </div>
        <!--<input type="submit" class="btn btn-light" value="Search" id="search_b"/>-->
      </form>
    </div>
  </div>
</nav> 